._1kaiHF8gL83fq11kI7yFWX {
  display: flex;
  align-items: center;
  justify-content: center; }

._3GDPw7SXvMj_zZAkLKXz3I {
  display: flex;
  align-items: center; }

.wJ6AbqUYwtsjIN7WZ55Ty {
  cursor: pointer; }

.a1NkrxfccUNDopLyXTTsP::after {
  content: '';
  clear: both;
  display: block; }



